body { margin: 0; overflow: hidden; }
.debug-view {
    position: fixed;  /* Changed from absolute to fixed to keep it in view */
    top: 10px;        /* Positioned at the top of the page */
    left: 10px;       /* Positioned on the left side of the page */
    color: white;
    background: rgba(0, 0, 0, 0.7);  /* Semi-transparent black background */
    padding: 5px;
    font-family: Monospace;
    display: none;   /* Initially hidden */
    z-index: 1000;   /* Ensures it's on top of other elements */
    border-radius: 8px;  /* Optional: adds rounded corners */
}

body { margin: 0; overflow: hidden; }
canvas { width: 100%; height: 100%; display: block; }